#header
  background: url(images/header.jpg) center -180px no-repeat
  padding-bottom: nav-height
  position: relative

#header-outer
  height: 100%
  position: relative

#header-inner
  position: relative

#header-title
  clearfix()
  text-align: center
  padding: 30px 0px
  .logo-wrap, .subtitle-wrap
    float: left
  .subtitle-wrap
    padding: 10px 0px 0px
    margin-left: 20px
  .subtitle
    font-family: "Microsoft YaHei","Hiragino Sans GB W6",hei,Arial,"Lucida Grande",Verdana
    font-size: 16px
    font-style: italic
    line-height: logo-height + 10
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 1px rgba(0, 0, 0, 0.2)
